@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
:root{
    --blue:#071a39;
    --yellow:#ffd600;
    --marron:#4b3c3c;
    --vert:#558b2f;
    --blanc:#ffffff;
    --border-bold:1rem solid var(--marron);
    --border-light:.2rem solid var(--marron);

}

* {font-family: 'rubik', sans-serif;
    margin:0;padding:0;
    box-sizing: border-box;
    outline:none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:.2s linear;
    color:var(--blue);
    }

    *::selection {
        background-color: var(--blanc);
        color:var(--yellow);
      }

      *::-webkit-scrollbar {
        width: 1rem;
        height: .5rem;
    
      }

      ::-webkit-scrollbar-track{
        background-color: transparent; /* or add it to the track */
      }
      ::-webkit-scrollbar-thumb {
        background: var(--yellow);
      }

      html{
        font-size: 62.5%;
        scroll-behavior: smooth;
        scroll-padding-top: 6rem;
        overflow-x: hidden;
      }

      body{
        overflow: hidden;
        transition:.2s linear !important;
      }
      body.active{
        padding-left: 35rem;
      }

      .header{
        position: fixed;
        top:0;left:-35rem;
        height: 100vh;
        background-color:var(--blanc);
        /*border-right: var(--border-bold);*/
        width: 35rem;
        padding: 3rem 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: column;
        z-index: 1000;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
        transition:.2s linear !important;

      }

      .header.active{
       left: 0;
     }

      .header .logo{
        text-transform: uppercase;
        border-bottom:var(--border-bold);
        font-weight: bolder;
        font-size: 3rem;
        font-weight: bolder;
      }
      
      .header .navbar {
        width: 100%;
           }

      .header .navbar a{
       display:block;
       font-size: 2.5rem;
       padding:1.5rem;
       margin:.5rem;
      }

      
      .header .navbar  a.active,
      .header .navbar  a:hover{
        background-color: var(--yellow);
      }
      
      .header .follow a{
        font-size: 3rem;
        margin:0 1rem;
        cursor: pointer;
      }

      .header .follow a:hover{
        background-color: var(--yellow);
        transform: rotate(360deg);
        transition:.2s linear !important;
      }

      #menu-button{
        position:absolute;
        top:0;right:-5.5rem;
        height:4.5rem;
        line-height:4.5rem;
        width: 5rem;
        font-size: 2.5rem;/*ce 2.5 la ne diminue que le contenue du menu button et non le baground noir*/
        background-color: #333;
        cursor: pointer;
        color:var(--blanc);
      }
      
      @media (max-width:991px){

        html{
          font-size: 55%;
        }
        body.active{
            padding-left: 0;
          }
      
      }

      @media (max-width:450px){

        html{
          font-size: 50%;
        }
        .header .active{
          padding-top: 7rem;
        }
        #menu-button fa-times{
          right:0;
        }
        .home .image img{
          height: auto;
           width: 100%;
        }
      }
    
      section{
        padding:3rem 2rem;
        margin: 0 auto;
        max-width: 1200px;
        text-align: center;
      }
      .home{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap:2rem;
        min-height: 100vh;
      }
      .home .image img{
        height: 65rem;
        padding:2rem;
        border: var(--border-bold);
      }
     
      .home .content{
       flex:1 1 40rem;
      }
      .home .content h3{
          text-transform: uppercase; 
          font-size: 5rem;
          margin-bottom:.5rem;     
      }

      .home .content span{
            display: inline-block; 
            padding: 1 2rem;
            background-color: var(--yellow);
            font-size:2.5rem;
            margin:1rem 0;
          }

      
          .home .content P{
            font-size:1.7rem;
            line-height: 2;
            padding: 1rem 0;
          }
          .btn{
            display: inline-block;
            margin-top:1rem;
            cursor:pointer;
            padding: 1rem 3rem;
            border:var(--border-light);
            font-size: 2rem;
          }
          .btn:hover{
            background-color: var(--vert);
            color: var(--blanc);
          }