<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--add the font-awesome cdn link here-->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--add the custom(style)-file link here-->
   
     {% load static %}
    <link rel="stylesheet" href= "{% static 'css/style.css' %} ">
    
    <title>Home Page</title>
   
</head>
<body>
    
    <!--header section starts-->
    <header class="header">
        <div id="menu-button" class="fas fa-bars"></div>
        <a href="#home" class="logo">LFH<span>.com</span></a>
        

        <nav class="navbar">
            <a href="#home" class="active">home</a>
            <a href="#about">about</a>
            <a href="#services">services</a>
            <a href="#portefolio">portefolio</a>
            <a href="#portefolio">articles</a>
            <a href="#contact">contact</a>
        </nav>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="#" class="fas fa-shopping-cart"></a>
            <a href="#" class="fas fa-user"></a>
        </div>

        <div class="follow">
            <a href="#" class="fab fa-youtube"></a>
            <a href="#" class="fab fa-github"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>
        
    </header>
    
    {% block content %}
    {% endblock content %}  
    

{% load static %}
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>